/* variables */
:root {
    --primary-color: #eb1700;
    /* DoorDash Red */
    --secondary-color: #ffffff;
    /* White */
    --text-color: #191919ff;
    /* Primary text */
    --muted-text-color: #777777;
    /* Secondary/muted text */
    --background-color: #fef1ee;
    /* Light grey background */
    --border-color: #e0e0e0;
    /* Light borders */
}


@font-face {
    font-family: 'ttnorms-regular';
    src: url(assets/TTNorms-Regular.otf);
}

@font-face {
    font-family: 'ttnorms-bold';
    src: url(assets/TTNorms-Bold.otf);
}


/* ---------------------------------------------------------------- */
/* reset */
body,
p,
ul,
li,
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--text-color);
}

p,
a,
li,
button,
span {
    font-family: 'ttnorms-regular';
    font-size: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ttnorms-bold';
}

li {
    list-style-type: none;
}

/* base styles */


button {
    background: #eb1700ff;
    color: white;
    font-size: 16px;
    font-weight: 900;
    border-radius: 30px;
    border: none;
    padding: 15 auto;
    max-width: 900px;
     font-family: "ttnorms-bold";
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(0px, auto);
    

}

header{
    margin-left: 8px;
}

.head {
    margin: 7px 0 0 0;
    gap: 8px;

    /* margin-left: -20px; */

}
.head .svg{
    width: 68px;
}

.head svg {
    grid-column: 1/2;
    width: 64px;
    height: 64px;
    margin: 15px 0 4.5px 0;
    background: none;
    border: .5px solid #f1f1f1ff;
    border-radius: 7px;
    justify-self:flex-start;
    align-self: flex-start;
    padding: 0;


}

.head .info {
    grid-column: 2/6;
    padding-top: 15px;
    /* margin-left: -25px; */


}

.head .info h4 {
    padding: 0;
    padding-top: -2px;
    margin: 0;
    font-size: 16px;
}

.head .info p {
    font-size: 14px;
    font-weight: 200;
    display: block;
    margin: 0;
    padding: 0;
    padding: 2px;
    color: #606060;
    font-weight: 600;

}

.head .info svg {
    margin: 0;
    flex-shrink: 0;
    width: 17px;
    height: 12px;
    border: none;
    padding: 0;
    padding-top: 5px;
    margin-left: -3px;
}

.head .info .svgwrap {
    display: flex;
    gap: 0;

    padding-right: 2px;
    padding-left: 4px;
}

.head .flex {
    display: flex;
}




.head .button1 {
    grid-column: 6/7;
    align-self: flex-end;
    max-width: 100%;
    padding: 7px;
    padding-right: 12px;
    padding-left: 11.5px;
    justify-self: flex-end;
    margin-bottom: 24px;
    margin-left: 10px;
    margin-right: 7.5px;
   
}





.fix .big {
    display: none;
}

.fix {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    background: white;
    top: 0;
    left: 0;
    padding: 0px;
    text-align: center;
    height: 50px;

}

.fix .img2 {
    /* grid-column: 1/2; */
    width: 10%;
    height: 50px;
    padding: 0;

}

.fix .button2 {

    width: 90px;
    height: 30px;
    margin: 10px;

}

.fix a {
    margin: 20px;
    font-weight: bold;
    justify-content: flex-end;
    margin-left: auto;
    color: black;
}

/* ------------------------------------- */
.bannerflex .big{
    display: none;
}
.bannerflex{
      background: url(assets/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 8px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
     display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    position: relative;


}

.banner {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
} 


.bannerflex .buttondiv button {
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 24px;
   margin-top: 15px;
    padding: 11px 12px;
    max-width: 100%;
    align-self: flex-end;

}

.banner .name {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    padding-bottom: 0;
    align-items: center;
    box-sizing: border-box;
}







.banner .name .sv2 {
    margin-left: 8px;

}

.banner .h1{
    margin: 20px 0px 22px 0px;

}

.banner h1 {
    /* font-family: 'Anton', sans-serif; */
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 900;
    flex: 1 0 30%;
    font-size: 29px;
    line-height: 28px;
    max-width: 350px;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
}

.banner .input-wrapper .svg11 {
    display: none;
}


.input-wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 32px;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    box-sizing: border-box;
     padding-left: 32px; 

   
}


.input-wrapper input {
    max-width: 100%;
    border: none;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
    padding-right: 0px;

}

.input-wrapper .svg1 {
    cursor: pointer;
    background: none;
    margin-top: 6px;
    margin-left: -20px;
    margin-right: 10px;
    box-sizing: border-box;


}

.input-wrapper .svg2 {
    background: #eb1700ff;
    color: white;
    border-radius: 50%;
    padding: 8px;
    margin-top: 7px;
    margin-right: 20px;
    
}




.banner button:nth-child(2) {
    background: var(--background-color);
    color: black;
    padding: 8px 20px;
    margin: 20px;
}

.banner .signin {
    display: none !important;
}
   

.banner .login {
    display: flex;
    align-items: center;
    margin: 16px auto;
    padding: 10px 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 10px;
    background: #fff;
    width: 70px;


}

.banner .login button {
    background: none;
    padding: 0;
    transform: translateY(-10px);
    margin: 0 0 0px 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    font-family: "ttnorms-regular";
}

.banner .login svg {
    padding-left: 12px;
    background: none;
    font-weight: bolder;

}

/* ---------------------------------------------------- */


.app .svg1 {
    grid-column: 1/2;
    width: 60px;
    height: 60px;
    margin: 0 8px 0 0;
    background: #ffffff;
    border: 1px solid #f1f1f1ff;
    border-radius: 10px;
    justify-self: right;
    padding: 9px;
    box-sizing: border-box;


}

.app .info {
    grid-column: 2/7;
    text-align: left;


}

.app .info h4 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.app .info p {
    font-size: 14px;
    font-weight: 200;
    display: block;
    margin: 0;
    padding: 0;
    padding: 2px;
    color: #606060;
    font-weight: 600;

}

.app .info svg {
    margin: 0;
    flex-shrink: 0;
    width: 17px;
    height: 12px;
    border: none;
    padding: 0;
    padding-top: 5px;
    margin-left: -3px;
}

.app .info .svgwrap {
    display: flex;
    gap: 0;

    padding-right: 2px;
    padding-left: 4px;
}

.app .flex {
    display: flex;
}

.app{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    flex: 1 0 auto;
    box-sizing: border-box;

}

    .app .div1{
        margin: 20px 20px 0px;
        box-sizing: border-box;
    }

.app .div2 {
    background: #f7f7f7ff;
    margin-top: 20px;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    /* width: 8%; */
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
    padding: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;

}


.app button {
    padding: 5px 30px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 28px;
    max-width: 100%px;
    height: 40px;
    cursor: pointer;
    grid-row: 2/3;
    grid-column: 1/7;
    margin: 16px 0 0 0;
    width: 100%;

}

/* ------------------------------------------------------------------- */
.wrapf {
    margin: 0 auto;
    max-width: 417px;
    box-sizing: border-box;
}


.featured {
    max-width: 100%;
    box-sizing: border-box;
    padding: 8px 8px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    list-style: none;
}

.featured li  {
    max-width: 100%;
    width: 100%;
    display: flex;
    /* height: 215.9px; */
    padding: 16px 16PX;
    min-width: 360px;
    align-self: center;

    box-sizing: border-box;
}

.featured img {
    height: 88pxpx;
    width: 88px;
    box-sizing: border-box;
}

.featured .image {
    margin-right: 32px;
    box-sizing: border-box;
}
.featured .feac{
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
}

.featured h2 {
    font-size: 32px;
    padding: 0;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    display: block;
    text-align: left;
    box-sizing: border-box;
}

.featured h3 {
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'ttnorms-regular';
    font-size: 18px;
    margin: 0;
    /* font-weight: 100px; */
    line-height: 24px;
    letter-spacing: -0.01px;
    text-align: left;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .1px;
}


.featured .anchors {
    margin: 12px 0 0 0;
    box-sizing: border-box;
    /* margin-top: -10px; */
    /* margin-bottom: 32px; */

}

.featured ul li a {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    box-sizing: border-box;
    font-family: "ttnorms-bold";

}

.featured .anchors svg {
    background: none;
    margin-bottom: -3px;
    margin-left: 1px;
    box-sizing: border-box;

}

/* ----------------------------------------------------------------------- */


.services .bg {
    background: linear-gradient(to bottom, white 0%, white 12%, var(--background-color) 12%, var(--background-color) 100%);
}

.services img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.services h3 {
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    max-width: 90%;
    text-align: left;
    color: var(--text-color);
    font-weight: 700;
    line-height: 28px;
}

.services h5 {
    font-size: 18px;
    margin: 0;

    text-align: left;
    margin-top: 10px;
    line-height: 20px;
}

.services p {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 550;
    letter-spacing: 0.01px;
    display: block;
}

.services button {
    padding: 6px 12px;
    margin: 20px 0 40px 0;
    font-size: 14px;
    font-weight: 700px;
    line-height: 20px;
    letter-spacing: 0.03px;
}



.services .content {
    padding: 20px;

}

.shop {
    margin: 20px;
}



.services .groceries {
    margin-bottom: 20px;
    margin-top: -40px;
    height: 350px;
    text-align: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(assets/hand-background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .93;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groceries .text {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
}

.groceries h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.groceries h5 {
    text-align: center;
}

.groceries p {
    text-align: center;

}

.groceries button {
    margin: 20px 0 0;
}

/* ------------------------------------------------------------- */


/* .featured1:is(h1,h2,p,button){
    color: #191919;
} */
.featured1 h1,
.featured1 h2,
.featured1 p {
    color: #191919;

}

.featured1 .feahead {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-content: center;
    display: flex;
    padding: 40px 20px 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;


}

.featured1 h1 {
    padding: 0;
    text-align: center;
    max-width: 300px;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.featured1 .feaflex {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    position: relative;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.featured1 {
    background: var(--background-color);

}


.featured1 .feaflex::-webkit-scrollbar {
    display: none;
}

.featured1 .feaflex>div {
    /* padding: 20px;
    margin: 0 -48.333px 0 24.166px;
    flex: 0 0 auto;   
    width: 100%; */
    margin-left: 5%;
    margin-right: -10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    box-sizing: border-box;
}

.featured1 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    box-sizing: border-box;
    object-position: left center !important;

}

.featured1 .feaflex h2 {
    font-size: 24px;
    margin: 20px 0 0 0;
    max-width: 90%;
    font-weight: 700;
    line-height: 28px;
}

.featured1 p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.featured1 button {
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

.featured1 .alcohol .care {
    margin-top: 10px;
    font-weight: 900;
    line-height: 18px;

}

/* --------------------------------------------------------------------------- */
.services .why {
    display: flex;
    justify-content: center;
    padding: 40px 20px 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.services .why h1 {
    text-align: center;
    max-width: 300px;
    line-height: 28px;
    font-weight: 700;
    font-size: 24px;
    margin: 0;


}

.services .partner button {
    margin-bottom: 0;
}

/* ------------------------------------------------------------------------------ */
.neighbour {
    padding: 48px 0;
    max-width: 1130;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.neighbour h1 {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;

}

.neighbour .neighflex {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 24px;
}

.neighbour .spans {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}


.neighbour .spans .seen {
    border-bottom:  3.5px solid var(--text-color);
    font-weight: bolder;
    color: var(--text-color);

}

.neighbour .spans div {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #606060ff;
    font-family: "ttnorms-bold";
    border-bottom: 3px solid #f4f2f2;
    font-family: "ttnorms-bold";
    width: 33.33%;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffffff;
}

.neighbour .neighflex .tab-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
}

.neighbour .tab-content .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
}

.neighbour .tab-content.items a {
    font-size: 16px;
    line-height: 22px;
    font-weight: bolder !important;
    font-family: "ttnorms-bold" !important;

}

.neighbour .seemore {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.neighbour .seemore span {
    color: var(--text-color);
    background: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    margin-right: 8px;
    font-family: "ttnorms-bold";
    box-sizing: border-box;
   
}

.neighbour .seemore button {
    color: var(--text-color);
    background: #f1f1f1ff;
    border-radius: 9999px;
    box-shadow: inset 0 0 0 1px #f1f1f1ff;
    max-width: 100%;
    width: 40px;
    height: 40px;
    min-height: 40px;

}


@media screen and (max-width:480px) {
    .neighbour{
        max-width: 100%;
        padding: 24px 16px;
    }
    .neighbour .spans div{
        padding-bottom: 12px;
    }
 



}

/* ------------------------------------------------------------------ */
footer {
    padding: 0 20px;
    background: var(--text-color);
    text-align: center;
}

footer .get {
    padding: 32px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

footer h4 {
    color: rgb(255, 255, 255);
    margin-bottom: 0 8px 0 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

footer .get .cat {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    box-sizing: border-box;
    list-style: none;
}

footer li a {
    color: rgb(196, 196, 196);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

footer ul li a {
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
}

/* footer img {
    margin: 10px;
    border-radius: 10px;
}

footer a {
    color: rgb(172, 171, 171);
    margin: 10px;
    font-size: 25px;
}


footer .lang {
    display: flex;
    border-radius: 20px;
    justify-content: center;
    width: 150px;
    background: white;
    margin: 10px auto;
    height: 30px;
}

.lang #lang {
    border: none;
    font-size: 15px;
    border-radius: 20px;
}

.lang img {
    width: 20%;
    height: 20px;
    margin: auto 0;
}

footer .greyicon {
    width: 30px;
    padding: 0;
    margin: 0;

}

footer span {

    font-size: 13px;
    margin: auto 10px;
    font-weight: bold;

}

.last {
    display: flex;
    margin: auto 20px;
    flex-wrap: wrap;
    justify-content: center;
} */

/* ---------------------------------------------------------------- */


@media screen and (min-width:768px) {

    .head,
    .bannerflex .buttondiv,
    .app {
        display: none;
    }
    .bannerflex{
        height: 650px;
    }

     .banner .name {
        transform: translateY(-224px);
        box-sizing: border-box;
    }

     .bannerflex .big .button1{
           position: absolute;
            top: 0;
            right: 100px;
            margin-right: 22px;
            margin-top: 16px;
                padding: 11px 12px;
                max-width: 100%;
                align-self: flex-end;

    }
    .bannerflex .big .button2{
           position: absolute;
            top: 0;
            right: 0;
            margin-right: 24px;
            margin-top: 16px;
                padding: 9.5px 12px;
                max-width: 100%;
                align-self: flex-end;
                background: #ffffff;
                color: #606060;
                font-size: 18px;
                /* transition: background-color 200m cubic-bezier(0.4,0.4,0,1),box-shadow 200ms cubic-bezier(0.4,0.4,0,1); */

    }
  

    .fix .mobile {
        display: none;
    }

    .bannerflex .big {
        display: contents;
    }


    .banner h1  {
   max-width: 750px;
   font-weight: 900;
   font-size: 40px;
   line-height: 40px;
   transform: translateY(-9px);


}

   


    .banner .input-wrapper .svg1 {
        display: none ;
    }
     .input-wrapper {
        /* border: 2px solid blue; */
        width: 407px;
        padding: 7.5px 8px 7.5px 20px;
        min-height: 40px;
        text-align: center;
        margin: 0;
        justify-self: center;
        align-self: center;
        box-sizing: border-box;
        transform: translateY(-10px);
    }

     .banner .input-wrapper .svg11 {
         display: flex !important;
         font-size: 16px;
         font-weight: 500;
         padding: 0;
         margin-right: 12px;
         fill: #606060 !important;
    }
    .banner .input-wrapper input{
        max-width: 100%;
        margin: 0 20px 0 0;
        box-sizing: border-box;
        padding: 0;
    }


    .banner .input-wrapper .svg2 {
        margin-left:85px;
        margin-right: 0;
        margin-bottom: 0px;
        margin-top: 0;


        display: flex;
    }

   




    .banner .login {
        display: none;
    }
      .banner .signin .above{
        display: none;
    }


   .banner .signin {
    display: flex !important;
    align-items: center;
    margin: 0 auto 0 auto;
    transform: translateY(5px); 
    padding: 11px 6px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 10px;
    background: #fff;
    width: 70px;


}

.banner .signin button {
    background: none;
    padding: 0;
    margin: 0 0 0px 0px;
    margin-left: -7px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    font-family: "ttnorms-regular";
}

.banner .signin svg {
    background: none;
    font-weight: bolder;

}

/* ------------------------------------------------------ */
.wrapf{
    max-width: 768px;
    margin: 0px auto !important; 
    
    box-sizing: border-box;
}
.featured{
    margin: 32px 0;
    box-sizing: border-box;
}
.featured .image{
    margin-right: 64px;
    box-sizing: border-box;
}
.featured img{
    width: 124px !important;
    height: 124px !important;
    box-sizing: border-box;
}



    .content>div {
        display: flex;

    }

    .shop {
        display: flex;
    }

    .services .find,
    .services .shop,
    .services .dasher {
        flex-direction: row-reverse;

    }

    .services div div {
        padding: 40px 40px 40px 0;
        line-height: 1.3;
        margin: 10px;

    }

    .services h3 {
        font-size: 40px;
    }

    .services div div h5 {
        font-size: 20px;
    }

    .services img {
        width: 40%;
        height: 450px !important;
    }

    .services .dashpass div,
    .services .partner div {
        margin-left: 40px;
    }

    .services .groceries {
        margin: 20px 0 20px 0;
        height: 450px;
        background-size: cover;
    }

    .services h1 {
        font-size: 30px;
        margin: 50px 150px 60px 150px;
        text-align: center;

    }


    .featured1 {
        background: var(--background-color);
        overflow: hidden;
        padding: 20px;
    }

    .featured1 h1 {
        grid-row: 1/2;
        grid-column: 1/7;
        justify-self: center;
        padding: 0;
        font-size: 30px;
        margin-top: 10px;


    }

    .featured1 .beauty {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .featured1 .flowers {
        grid-column: 4/7;
        grid-row: 2/3;
    }

    .featured1 .alcohol {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .featured1 .pet {
        grid-column: 4/7;
        grid-row: 3/4;
    }



    .featured1 img {
        width: 350px;
        height: 300px;
        object-fit: cover;
        padding: 30px;
    }

    .featured1 h3 {
        font-size: 30px;
    }

    .featured1 p {
        margin: 0 30px 20px 30px;
    }

    .featured1 button {
        padding: 10px;
    }
    /* ------------------------- */

  .neighbour .neighflex .tab-content{
    gap: 12px;
  }
  /* --------------------------- */



    footer .cat {
        display: flex;
        flex-wrap: wrap;
        margin-left: 60px;
        gap: 3px;
        padding-bottom: 20px;
        width: 100%;
        justify-content: space-between;

    }

    footer .cat>* {
        flex: 0 0 170px;
        text-align: left;


    }




    footer .trio {
        display: flex;
        justify-content: space-between;
    }

    footer li {
        list-style-type: none;


    }

    footer .trio>div {
        text-align: left;
    }

    .trio h4 {
        padding-left: 19px;
    }

    footer .tab {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    footer .lang {
        width: 220px;
        margin-right: 30px;

    }

}

@media  screen and (min-width:960px) {
    .banner .name{
        transform: translateY(-217px);
    }
    .banner .name .sv1{
        width: 42px;
        height: 24px;
        padding-right: 5px;


    }
      .banner .name .sv2{
        width: 155px;
        height: 18px;
    
    }
    .banner .signin .below{
        display: none !important;

    }
     .banner .signin .above{
        display: flex !important;
    }
    .banner .signin{
        width: 185px;
    }
    .banner .signin button{
        color: var(--text-color);
        margin-left: 4px;
        letter-spacing: .3px;
    }
    
    
}

@media screen and (min-width:1184px) {

    .fix .img2 {
        width: 3%;
    }
    .banner .name{
        transform: translateY(-221px);
    }
    .banner h1{
   transform: translateY(-6px);

    }
    /* ----------------------------------------------------------------- */

    .wrapf{
        max-width: 1184px;
        box-sizing: border-box;
    }
    .featured{
        margin: 96px 0;
        flex-direction: row;
        box-sizing: border-box;
    }
    .featured ul{
        flex-direction: row;
        box-sizing: border-box;
    }
    .featured li{
        margin: 0 17px;
        flex-flow: column ;
        box-sizing: border-box;
    }
    .featured .image{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }
    .featured img{

        width:154px !important;
        height: 154px !important;
        box-sizing: border-box;

    }
    .featured .feac{
        min-height: 66.5px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        text-align: center;
    }
    .featured h2, .featured h3{
        text-align: center;
        box-sizing: border-box;

    }
    
 
    .services .bg {
        background: linear-gradient(to bottom, white 0%, white 40%, var(--background-color) 40%, var(--background-color) 100%);
    }

    .services img {
        width: 60%;
        height: 550px !important;
        object-fit: contain;
    }

    .services .dashpass img,
    .services .partner img {
        margin-right: 40px;
    }

    .services .dasher img,
    .services .shop img,
    .services .find img {
        margin-left: 60px;
    }

    .services div div {
        line-height: 1.3;
        margin: 0;
        padding: 0;

        align-self: center;


    }

    .services h3 {
        font-size: 46px;
    }

    .services div div h5 {
        font-size: 27px;
    }

    .services button {

        font-weight: bolder;

    }

    .services p {
        font-size: 20px;
    }

    .services .shop img {
        object-fit: cover;
        height: 800px !important;
        overflow-y: visible;
        z-index: 1;
        margin-bottom: -50px;
    }


    .services .groceries {
        margin: 0 0 20px 0;
        height: 600px;

        background-size: contain;
        background-repeat: no-repeat;


    }

    .services .groceries h3 {
        margin: 30px 400px 0 400px;

    }


    .groceries p {
        font-size: 25px;
        margin: 30px 150px 0 150px;


    }

    .featured1 h1 {
        font-size: 40px;
        padding: 30px 300px 10px 300px;
    }

    .featured1 img {
        width: 550px;
        height: 650px;
        object-fit: contain;
        padding: 10px;
    }

    .featured1 h3 {
        font-size: 40px;
    }

    .featured1 p {
        margin: 0 30px 20px 30px;
        font-size: 20px;
    }

    .featured1 button {
        padding: 15px;
        font-weight: 100px;
    }

    .featured1 .alcohol .care {
        padding-top: 20px;
    }

    footer .cat>* {
        flex: 0 0 250px;
        text-align: left;

    }

    footer .lap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-left: -60px;
        margin-top: 40px
    }

    footer .lang {
        height: 40px !important;
    }

    .lang img {

        margin: auto 5px auto 0;
    }
}